@import './base.css';

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@font-face {
  font-family: LeckerliOne;
  src: url(@/assets/LeckerliOne-Regular.ttf);
}

#app {
  display: block;
  width: 600px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  #app {
    width: 100%;
  }
}

.app-block {
  display: block;
  width: 100%;
  border: 1px solid var(--color-border);
  background-color: #00225540;
  min-height: 10px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
}
input, button {
  font-size: 1.1em;
}
h1 {font-size: 1.3em; font-weight: bold;}
h2 {font-size: 1.2em; font-weight: bold;}
h3 {font-size: 1.1em; font-weight: bold;}